{
    "semi": false,
    "singleQuote": true,
    "singleAttributePerLine": false,
    "htmlWhitespaceSensitivity": "ignore",
    "bracketSameLine": true,
    "plugins": [
        "prettier-plugin-organize-imports",
        "prettier-plugin-tailwindcss"
    ],
    "tailwindFunctions": ["clsx", "cn"],
    "tabWidth": 4,
    "useTabs": false,
    "vueIndentScriptAndStyle": false,
    "overrides": [
        {
            "files": "**/*.yml",
            "options": {
                "tabWidth": 4
            }
        },
        {
            "files": "**/*.vue",
            "options": {
                "tabWidth": 4,
                "useTabs": false
            }
        },
        {
            "files": ["**/*.php"],
            "options": {
                "tabWidth": 4,
                "useTabs": false
            }
        }
    ]
}
